<div class ='main'>

  <div class ='headline'>

    <div class ='content'>
        <span style="font-size: 28px; font-weight: bold;"> Hello. </span>
        <span style="font-size: 24px; font-weight: bold;">I'm Evan Casey. </span></br> 
        <span style="font-size: 18px; font-weight: normal;">College senior at Claremont McKenna College (Claremont, CA). I like data, hacking, and building web products.       
        <%= link_to 'More about me.', about_path, :class => 'extra' %>
        </span>
    </div>


    <div class='social'>

      <div class='follow'>        

        <a href="https://twitter.com/ev_ancasey" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @ev_ancasey</a>

      </div>

      <div class='follow'>

        <iframe src="http://ghbtns.com/github-btn.html?user=evancasey&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
      
      </div>

    </div>

  </div>

  <div class='grid'>

    <div class ='thumb-header'>
        Projects
    </div> 

    <div class ='thumbs-list'>

      <div class='thumb'>
        <%= link_to(exposure_path) do %>
          <img src ='../assets/exposure.png'>
        <% end %>
        <span class='desc'>
          Exposure
        </span>
        <div class='tags'>
          app, hacking, social
        </div>
      </div>

      <div class='thumb'>
        <%= link_to(sparkler_path) do %>
          <img src ='../assets/sparkler.png'>
        <% end %>
        <span class='desc'>
          Sparkler
        </span>
        <div class='tags'>
          machine learning, open source, distributed systems
        </div>

      </div>
      
      <div class='thumb last'>
        <%= link_to(accrediant_path) do %>
          <img src ='../assets/accrediant.png'>
        <% end %>
        <span class='desc'>
          Accrediant
        </span>
        <div class='tags'>
          freelance, consulting, research
        </div>
      </div>

      <div class='thumb'>
        <%= link_to(phonesmash_path) do %>
          <img src ='../assets/phonesmash.png'>
        <% end %>
        <span class='desc'>
          Phonesmash
        </span>
        <div class='tags'>
          mobile, game, hacking
        </div>
      </div>

      <div class='thumb'>
        <%= link_to(music_recommender_system_path) do %>
          <img src ='../assets/music.png'>
        <% end %>
        <span class='desc'>
          Music Recommender System
        </span>
        <div class='tags'>
          machine learning, music, recommender systems
        </div>
      </div>

      <div class='thumb last'>
        <%= link_to(one_kings_lane_path) do %>
          <img src ='../assets/onekingslane.png'>
        <% end %>
        <span class='desc'>
          One Kings Lane
        </span>
        <div class='tags'>
          internship, software engineering
        </div>
      </div>

      <div class ='thumb'>
        <%= link_to(grapevine_path) do %>
        <img src ='../assets/claremont_sms.png'>
        <% end %>
        <span class='desc'>
          Grapevine
        </span>
        <div class='tags'>
          app, hacking, social
        </div>
      </div>

      <div class= 'thumb'>    
        <%= link_to(visualizing_the_stocktweets_community_path) do %>
        <img src ='../assets/stockviz.png'>
        <% end %>
        <span class='desc'>
          Visualizing the StockTweets Community
        </span>
        <div class='tags'>
          data visualization, social networks, research
        </div>
      </div>

      <div class='thumb last'>    
        <%= link_to(student_investment_fund_voting_path) do %>
          <img src ='../assets/sif-vote.png'>
        <% end %>
        <span class='desc'>
          Student Investment Fund Voting
        </span>
        <div class='tags'>
          app, SMS
        </div>
      </div>

    </div>

    <div class ='thumb-header'>
        Photos
    </div> 

    <div class='thumbs-list'>

      <div class='thumb'>
        <%= link_to(things_path) do %>
          <img src ='../assets/things.jpg'>
        <% end %>
        <span class='desc'>
          Things
        </span>
      </div>

      <div class='thumb'>
        <%= link_to(nature_path) do %>
          <img src ='../assets/nature.jpg'>
        <% end %>
        <span class='desc'>
          Nature
        </span>
      </div>

      <div class='thumb last'>
        <%= link_to(people_path) do %>
          <img src ='../assets/people.jpg'>
        <% end %>
        <span class='desc'>
          People
        </span>
      </div>

    </div>

    <div class ='thumb-header'>
        Adventures
    </div> 

    <div class='thumbs-list'>

      <div class='thumb'>
        <%= link_to(skating_path) do %>
          <img src ='../assets/skating.png'>
        <% end %>
        <span class='desc'>
          Skating
        </span>
      </div>

      <div class='thumb'>
        <%= link_to(mongolia_path) do %>
          <img src ='../assets/mongolia.jpg'>
        <% end %>
        <span class='desc'>
          Mongolia
        </span>
      </div>

    </div>


  </div>
  
  <div class='right'>

    <div class='blog-header'>
      Blog
    </div>  

    <div class ='blog-list'>

      <% if @posts.present? %>

          <% @posts.each do |post| %>

            <div class ='blog-title'>

              <%= link_to post.title, post, :class => 'extra' %>

              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_post_path(post) %>
              <% end %>

            </div>


          <% end %>

      <% end %>

    </div>

  </div>


</div>

