<div class = 'page'>

  <div class = 'headline'>Projects</div>

  <div class ='project'>
    <div class='grid'>

      <div class ='thumbs-list'>

        <div class='thumb'>
          <%= link_to(exposure_path) do %>
            <img src ='../assets/exposure.png'>
          <% end %>
          <span class='desc'>
            Exposure
          </span>
          <div class='tags'>
            app, hacking, social
          </div>
        </div>

        <div class='thumb'>
          <%= link_to(sparkler_path) do %>
            <img src ='../assets/sparkler.png'>
          <% end %>
          <span class='desc'>
            Sparkler
          </span>
          <div class='tags'>
            machine learning, open source, distributed systems
          </div>

        </div>

        <div class='thumb last'>    
          <%= link_to(student_investment_fund_voting_path) do %>
            <img src ='../assets/sif-vote.png'>
          <% end %>
          <span class='desc'>
            Student Investment Fund Voting
          </span>
          <div class='tags'>
            app, SMS
          </div>
        </div>

        <div class='thumb'>
          <%= link_to(phonesmash_path) do %>
            <img src ='../assets/phonesmash.png'>
          <% end %>
          <span class='desc'>
            Phonesmash
          </span>
          <div class='tags'>
            mobile, game, hacking
          </div>
        </div>

        <div class='thumb'>
          <%= link_to(music_recommender_system_path) do %>
            <img src ='../assets/music.png'>
          <% end %>
          <span class='desc'>
            Music Recommender System
          </span>
          <div class='tags'>
            machine learning, music, recommender systems
          </div>
        </div>

        <div class='thumb last'>
          <%= link_to(one_kings_lane_path) do %>
            <img src ='../assets/onekingslane.png'>
          <% end %>
          <span class='desc'>
            One Kings Lane
          </span>
          <div class='tags'>
            internship, software engineering
          </div>
        </div>

        <div class ='thumb'>
          <%= link_to(grapevine_path) do %>
          <img src ='../assets/claremont_sms.png'>
          <% end %>
          <span class='desc'>
            Grapevine
          </span>
          <div class='tags'>
            app, hacking, social
          </div>
        </div>

        <div class= 'thumb'>    
          <%= link_to(visualizing_the_stocktweets_community_path) do %>
          <img src ='../assets/stockviz.png'>
          <% end %>
          <span class='desc'>
            Visualizing the StockTweets Community
          </span>
          <div class='tags'>
            data visualization, social networks, research
          </div>
        </div>

        <div class='thumb last'>
          <%= link_to(accrediant_path) do %>
            <img src ='../assets/accrediant.png'>
          <% end %>
          <span class='desc'>
            Accrediant
          </span>
          <div class='tags'>
            freelance, consulting, research
          </div>
        </div>

      </div>   

    </div>
  </div>

</div>


