<!DOCTYPE html>
<html>
<head>
  <title>Evan Casey</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'></link>
</head>
<body>

  <div class="content">

    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>

    <div class="nav">    

      <div class="chunk"></div>

      <a class='home' href="/">Evan Casey</a></br> </br>

        <div class='extra'>

          <div class='header'>
            <%= link_to "About", about_path %></br>
          </div>
          <div class='header'>
            <%= link_to "Blog", posts_path %>
          </div>
          <div class='header'>
            Projects
            <div class='links'>
              <%= link_to "Exposure", exposure_path %>
              <%= link_to "Sparkler", sparkler_path %>
              <%= link_to "Accrediant", accrediant_path %>
              <%= link_to "Phonesmash", phonesmash_path %>
              <%= link_to "Music Recommender", music_recommender_system_path %>
              <%= link_to "One Kings Lane", one_kings_lane_path %>
              <%= link_to "Grapevine", grapevine_path %>
              <%= link_to "Visual Stocktweets", visualizing_the_stocktweets_community_path %>
              <%= link_to "SIF Voting", student_investment_fund_voting_path %>  
            </div>
          </div>
          <div class='header'>
            Photos</br>
             <div class='links'>
               <%= link_to "Things", things_path %>
               <%= link_to "Nature", nature_path %>
               <%= link_to "People", people_path %>
            </div>
          </div>
         <div class='header'>
            Adventures</br>
            <div class='links'>
              <%= link_to "Skateboarding", skating_path %>
              <%= link_to "Mongolia", mongolia_path %>
            </div>
         </div>       
         <div class='header'>
            <%= link_to "Contact", contact_path %>
         </div>
      </div>

      <div class="source">
        &copy; Evan Casey 2011-2014 <br>
        <a href="http://github.com/evancasey/ev.ancasey"> Source Code</a>
      </div>

    </div>

  </div>

  <%= yield %>

</div></div></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  // Side bar links
  $('.extra .header').children('.links').hide();
  $('.extra .header').on('click',function() {
    if ($(this).children('.links').is(":visible")) {
      $(this).children('.links').slideUp();
    } else { 
      $(this).children('.links').slideDown();
    }
  });

  // Text highlighting
  $(function(){

    $('.main .grid img').mouseenter(function(e) {
      e.preventDefault();        
      $(this).css('border-color','#AAA');
      $(this).closest('.thumb').children('.desc').css('color','#888');
      // $(this).closest('.thumb').children('.desc').css('background-color','yellow');
    });
    $('.main .grid img').mouseleave(function(e) {
      e.preventDefault();
      $(this).css('border-color','#EEE');  
      $(this).closest('.thumb').children('.desc').css('color','#ae2900'); 
      // $(this).closest('.thumb').children('.desc').css('background-color','white');
    });

  });
  
  // soundcloud playlist
  if (document.location.href == "http://www.ev.ancasey.com/posts/coding-music") {
    $('.page .content').append('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/37710584&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>')
  }

  // twitter button
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

</script>

</body>
</html>
