<!DOCTYPE html>
<html>
<head>
  <title>Evan Casey</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="content">

    <div class="nav">    

		<a class='home' href="/">Evan </br>Casey</a></br></br></br>

		<span class='extra'>

		<%= link_to "About", about_path %></br>
		<%= link_to "Projects", projects_path %></br>
		<%= link_to "Blog", posts_path %></br>
		<%= link_to "Random", random_path %></br></br>

		</span>

		<a class='extra' href='http://twitter.com/ev_ancasey'>Twitter<br></a>
		<a class='extra' href='http://github.com/evancasey'>Github<br></a>
		<a class='extra' href='http://facebook.com/evan.casey.92'>Facebook</a><br><br>

		<div id="user_nav">
			<% if user_signed_in? %>
			  Signed in as <%= current_user.email %>. Not you?
			  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% end %>
		</div>

    </div>

  </div>

<%= yield %>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>
