<!DOCTYPE html>
<html>
<head>
  <title>Evan Casey</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'></link>
</head>
<body>

  <div class="content">

    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>

    <div class="nav">    

      <div class="chunk"></div>

      <a class='home' href="/">Evan Casey</a><br /> <br />

        <div class='extra'>

          <div class='header'>
            <%= link_to "About", about_path %><br />
          </div>
          <div class='header'>
            <%= link_to "Blog", posts_path %>
          </div>
          <div class='header'>
            <%= link_to "Projects", projects_path %>
          </div>   
         <div class='header'>
            <%= link_to "Contact", contact_path %>
         </div>
      </div>

      <div class="source">
        &#169; Evan Casey 2011-2014 <br />
        <a href="http://github.com/evancasey/ev.ancasey"> Source Code</a>
      </div>

    </div>

  </div>

  <%= yield %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  // Text highlighting
  $(function(){

    $('.main .grid img').mouseenter(function(e) {
      e.preventDefault();        
      $(this).css('border-color','#AAA');
      $(this).closest('.thumb').children('.desc').css('color','#888');
      // $(this).closest('.thumb').children('.desc').css('background-color','yellow');
    });
    $('.main .grid img').mouseleave(function(e) {
      e.preventDefault();
      $(this).css('border-color','#EEE');  
      $(this).closest('.thumb').children('.desc').css('color','#ae2900'); 
      // $(this).closest('.thumb').children('.desc').css('background-color','white');
    });

  });
  
  // soundcloud playlist
  if (document.location.href == "http://www.ev.ancasey.com/posts/coding-music") {
    $('.page .content').append('<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/37710584&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>')
  }

  // twitter button
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

</script>

</body>
</html>
